<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ycbjie.ycandroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".router.RouterToNaMeActivity"/>
        <activity android:name=".router.RouterToNaAboutActivity"/>


        <activity android:name=".container.FlutterContainerActivity"/>
        <activity android:name=".container.FlutterViewActivity"/>
        <activity android:name=".container.FlutterFragmentActivity"/>
        <activity android:name=".container.FlutterFragmentCachedActivity"/>
        <activity android:name=".container.FlutterViewActivity2"/>
        <activity android:name=".container.FlutterViewActivity3"/>
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity android:name=".channel.ChannelActivity"/>
        <activity android:name=".channel.MethodChannelActivity"/>
        <activity android:name=".channel.EventChannelActivity"/>
        <activity android:name=".channel.BasicChannelActivity"/>
        <activity android:name=".channel.MethodChannelActivity2"/>
        <activity android:name=".channel.EventChannelActivity2"/>
        <activity android:name=".channel.BasicChannelActivity2"/>
        <activity android:name=".channel.MethodResultActivity"/>

    </application>

</manifest>