name: flutter_interface
description: A new Flutter project.
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0 <2.0.0"

dependencies:
  flutter_channel:
    path: ../flutter_channel
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.yc.flutterInter.flutter_interface
        pluginClass: FlutterInterfacePlugin
      ios:
        pluginClass: FlutterInterfacePlugin
